1. x = [3, 6, 9, 20, -7, 5] 의 값의 모든 요소에 10을 곱하여 저장한 뒤 출력하세요.

In [1]:
x = [3, 6, 9, 20, -7, 5] 
new_x = []
for i in x:
    new_x.append(i*10)
print(new_x)

[30, 60, 90, 200, -70, 50]

2. y = {"math":70, "Science":80, "english":20}의 값의 모든 요소에 10을 더하여 저장한 뒤 출력하세요.

In [7]:
y = {"math":70, "Science":80, "english":20}

for i in y:
    y[i] = y[i]+10
print(y)

{'math': 80, 'Science': 90, 'english': 30}

3. 숫자를 입력받고 입력받은 정수의 구구단을 출력하세요.

In [8]:
num = int(input("몇단을 출력하시겠습니까? "))

for i in range(1, 10) :
    result = i * num 
    print("{} * {} = {}".format(num, i, result))

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

4. word = ["school", "game", "piano", "Science", "hotel", "mountain"] 중 글자수가 6글자 이상인 문자를 모아 새로운 리스트를 생성하세요.

In [9]:
word = ["school", "game", "piano", "Science", "hotel", "mountain"] 

new_list = []
for i in word :
    if 6 <= len(i) :
        new_list.append(i)
    else :
        pass

print(new_list)

['school', 'Science', 'mountain']

5. 구구단을 1단부터 9단까지 출력하세요.

In [10]:
for i in range(1, 10):
    for j in range(1, 10):
        print(f"{i}*{j}={i*j}")

1*1=1
1*2=2
1*3=3
1*4=4
1*5=5
1*6=6
1*7=7
1*8=8
1*9=9
2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
4*1=4
4*2=8
4*3=12
4*4=16
4*5=20
4*6=24
4*7=28
4*8=32
4*9=36
5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
6*1=6
6*2=12
6*3=18
6*4=24
6*5=30
6*6=36
6*7=42
6*8=48
6*9=54
7*1=7
7*2=14
7*3=21
7*4=28
7*5=35
7*6=42
7*7=49
7*8=56
7*9=63
8*1=8
8*2=16
8*3=24
8*4=32
8*5=40
8*6=48
8*7=56
8*8=64
8*9=72
9*1=9
9*2=18
9*3=27
9*4=36
9*5=45
9*6=54
9*7=63
9*8=72
9*9=81

6. [3, 6, 9, 20, -7, 5] 리스트를 sort와 같은 함수를 사용하지말고 for문을 활용하여 오름차순으로 정렬해주세요.

In [25]:
# 선택 정렬

origin_list = [3, 6, 9, 20, -7, 5]


for i in range(len(origin_list)):
    
    min_index = i
    for j in range(i+1, len(origin_list)):
        if origin_list[j] < origin_list[min_index]:
            min_index = j

    origin_list[i], origin_list[min_index] = origin_list[min_index], origin_list[i]
   
print(origin_list)

[-7, 3, 5, 6, 9, 20]

7. 1-100 까지 숫자중 3과 5의 공배수일경우 "3과 5의 공배수", 
나머지 숫자중 3의 배수일경우 "3의배수", 나머지 숫자중 5의 배수일경우 "5의배수"
모두 해당되지 않을경우 그냥숫자를 출력하세요.